{
  "root": true,
  "plugins": [
    "import",
    "eslint-plugin"
  ],
  "extends": [
    "standard",
    "plugin:import/recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
  },
  "rules": {
    "semi": [2, "always"],
    "curly": [2, "multi-line"],
    "comma-dangle": [2, "always-multiline"],
    "eol-last": [2, "always"],
    "eqeqeq": [2, "allow-null"],
    "no-shadow": 1,
    "quotes": [2, "single", {
      "allowTemplateLiterals": true,
      "avoidEscape": true
    }],
    "no-useless-computed-key": "off",
    "camelcase": "off",
    "eslint-plugin/consistent-output": [
      "error",
      "always"
    ],
    "eslint-plugin/meta-property-ordering": "error",
    "eslint-plugin/no-deprecated-context-methods": "error",
    "eslint-plugin/no-deprecated-report-api": "off",
    "eslint-plugin/prefer-replace-text": "error",
    "eslint-plugin/report-message-format": "error",
    "eslint-plugin/require-meta-schema": "error",
    "eslint-plugin/require-meta-type": "error"
  },

  "overrides": [
    {
      "files": "scripts/**",
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
